{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.clever.com/v1.2"
        }
    ],
    "info": {
        "contact": {
            "x-twitter": "clever"
        },
        "description": "Serves the Clever Data API",
        "title": "Data",
        "version": "1.2.0",
        "x-apisguru-categories": [
            "education"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_clever_profile_image.jpeg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Clever/swagger-api/master/v1.2.yml",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "clever.com"
    },
    "security": [
        {
            "oauth": []
        }
    ],
    "paths": {
        "/contacts": {
            "get": {
                "description": "Returns a list of student contacts",
                "operationId": "getContacts",
                "parameters": [
                    {
                        "in": "query",
                        "name": "limit",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "starting_after",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "ending_before",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "properties": {
                                                    "data": {
                                                        "properties": {
                                                            "district": {
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "email": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "id": {
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "phone": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "phone_type": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "relationship": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "sis_id": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "student": {
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Contacts"
                ]
            }
        },
        "/contacts/{id}": {
            "get": {
                "description": "Returns a specific student contact",
                "operationId": "getContact",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "district": {
                                                    "type": "string",
                                                    "x-validation": true
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "x-validation": true
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "phone": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "phone_type": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "relationship": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "sis_id": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "student": {
                                                    "type": "string",
                                                    "x-validation": true
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Entity Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Contacts"
                ]
            }
        },
        "/contacts/{id}/district": {
            "get": {
                "description": "Returns the district for a student contact",
                "operationId": "getDistrictForStudentContact",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "x-validation": true
                                                },
                                                "mdr_number": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "name": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Entity Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Contacts"
                ]
            }
        },
        "/contacts/{id}/student": {
            "get": {
                "description": "Returns the student for a student contact",
                "operationId": "getStudentForContact",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "created": {
                                                    "format": "datetime",
                                                    "type": "string",
                                                    "x-validation": true
                                                },
                                                "credentials": {
                                                    "properties": {
                                                        "district_username": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "district": {
                                                    "type": "string",
                                                    "x-validation": true
                                                },
                                                "dob": {
                                                    "format": "datetime",
                                                    "type": "string",
                                                    "x-validation": true,
                                                    "nullable": true
                                                },
                                                "ell_status": {
                                                    "enum": [
                                                        "Y",
                                                        "N",
                                                        ""
                                                    ],
                                                    "type": "string",
                                                    "x-validation": true,
                                                    "nullable": true
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "gender": {
                                                    "enum": [
                                                        "M",
                                                        "F",
                                                        ""
                                                    ],
                                                    "type": "string",
                                                    "x-validation": true,
                                                    "nullable": true
                                                },
                                                "grade": {
                                                    "enum": [
                                                        "1",
                                                        "2",
                                                        "3",
                                                        "4",
                                                        "5",
                                                        "6",
                                                        "7",
                                                        "8",
                                                        "9",
                                                        "10",
                                                        "11",
                                                        "12",
                                                        "PreKindergarten",
                                                        "Kindergarten",
                                                        "PostGraduate",
                                                        "Other"
                                                    ],
                                                    "type": "string",
                                                    "x-validation": true,
                                                    "nullable": true
                                                },
                                                "graduation_year": {
                                                    "type": "string",
                                                    "x-validation": true,
                                                    "nullable": true
                                                },
                                                "hispanic_ethnicity": {
                                                    "enum": [
                                                        "Y",
                                                        "N",
                                                        ""
                                                    ],
                                                    "type": "string",
                                                    "x-validation": true,
                                                    "nullable": true
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "x-validation": true
                                                },
                                                "last_modified": {
                                                    "format": "datetime",
                                                    "type": "string",
                                                    "x-validation": true
                                                },
                                                "location": {
                                                    "properties": {
                                                        "address": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "city": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "lat": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "lon": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "state": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "zip": {
                                                            "type": "string",
                                                            "nullable": true
                                                        }
                                                    },
                                                    "type": "object",
                                                    "nullable": true
                                                },
                                                "name": {
                                                    "properties": {
                                                        "first": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "last": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "middle": {
                                                            "type": "string",
                                                            "nullable": true
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "race": {
                                                    "enum": [
                                                        "Caucasian",
                                                        "Asian",
                                                        "Black or African American",
                                                        "American Indian",
                                                        "Hawaiian or Other Pacific Islander",
                                                        "Two or More Races",
                                                        "Unknown",
                                                        ""
                                                    ],
                                                    "type": "string",
                                                    "x-validation": true,
                                                    "nullable": true
                                                },
                                                "school": {
                                                    "type": "string",
                                                    "x-validation": true
                                                },
                                                "schools": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array",
                                                    "x-validation": true
                                                },
                                                "sis_id": {
                                                    "type": "string"
                                                },
                                                "state_id": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "student_number": {
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Entity Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Contacts"
                ]
            }
        },
        "/district_admins": {
            "get": {
                "description": "Returns a list of district admins",
                "operationId": "getDistrictAdmins",
                "parameters": [
                    {
                        "in": "query",
                        "name": "starting_after",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "ending_before",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "show_links",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "properties": {
                                                    "district": {
                                                        "type": "string",
                                                        "x-validation": true
                                                    },
                                                    "email": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "x-validation": true
                                                    },
                                                    "name": {
                                                        "properties": {
                                                            "first": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "last": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "middle": {
                                                                "type": "string",
                                                                "nullable": true
                                                            }
                                                        },
                                                        "type": "object",
                                                        "nullable": true
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "District Admins"
                ]
            }
        },
        "/district_admins/{id}": {
            "get": {
                "description": "Returns a specific district admin",
                "operationId": "getDistrictAdmin",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "district": {
                                                    "type": "string",
                                                    "x-validation": true
                                                },
                                                "email": {
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string",
                                                    "x-validation": true
                                                },
                                                "name": {
                                                    "properties": {
                                                        "first": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "last": {
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "middle": {
                                                            "type": "string",
                                                            "nullable": true
                                                        }
                                                    },
                                                    "type": "object",
                                                    "nullable": true
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Entity Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "District Admins"
                ]
            }
        },
        "/districts": {
            "get": {
                "description": "Returns a list of districts",
                "operationId": "getDistricts",
                "responses": {
                    "200": {
                        "description": "OK Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "properties": {
                                                    "data": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "mdr_number": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Districts"
                ]
            }
        },
        "/districts/{id}": {
            "get": {
                "description": "Returns a specific district",
                "operationId": "getDistrict",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "include",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "x-validation": true
                                                },
                                                "mdr_number": {
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "name": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Entity Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Districts"
                ]
            }
        },
        "/districts/{id}/admins": {
            "get": {
                "description": "Returns the admins for a district",
                "operationId": "getAdminsForDistrict",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "properties": {
                                                    "district": {
                                                        "type": "string",
                                                        "x-validation": true
                                                    },
                                                    "email": {
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string",
                                                        "x-validation": true
                                                    },
                                                    "name": {
                                                        "properties": {
                                                            "first": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "last": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "middle": {
                                                                "type": "string",
                                                                "nullable": true
                                                            }
                                                        },
                                                        "type": "object",
                                                        "nullable": true
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "nullable": true
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Entity Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Districts"
                ]
            }
        },
        "/districts/{id}/schools": {
            "get": {
                "description": "Returns the schools for a district",
                "operationId": "getSchoolsForDistrict",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "starting_after",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "ending_before",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "where",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "properties": {
                                                    "data": {
                                                        "properties": {
                                                            "created": {
                                                                "format": "datetime",
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "district": {
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "high_grade": {
                                                                "enum": [
                                                                    "1",
                                                                    "2",
                                                                    "3",
                                                                    "4",
                                                                    "5",
                                                                    "6",
                                                                    "7",
                                                                    "8",
                                                                    "9",
                                                                    "10",
                                                                    "11",
                                                                    "12",
                                                                    "PreKindergarten",
                                                                    "Kindergarten",
                                                                    "PostGraduate",
                                                                    "Other"
                                                                ],
                                                                "type": "string",
                                                                "x-validation": true,
                                                                "nullable": true
                                                            },
                                                            "id": {
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "last_modified": {
                                                                "format": "datetime",
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "location": {
                                                                "properties": {
                                                                    "address": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    },
                                                                    "city": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    },
                                                                    "lat": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    },
                                                                    "lon": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    },
                                                                    "state": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    },
                                                                    "zip": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "nullable": true
                                                            },
                                                            "low_grade": {
                                                                "enum": [
                                                                    "1",
                                                                    "2",
                                                                    "3",
                                                                    "4",
                                                                    "5",
                                                                    "6",
                                                                    "7",
                                                                    "8",
                                                                    "9",
                                                                    "10",
                                                                    "11",
                                                                    "12",
                                                                    "PreKindergarten",
                                                                    "Kindergarten",
                                                                    "PostGraduate",
                                                                    "Other"
                                                                ],
                                                                "type": "string",
                                                                "x-validation": true,
                                                                "nullable": true
                                                            },
                                                            "mdr_number": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "nces_id": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "phone": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "principal": {
                                                                "properties": {
                                                                    "email": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "school_number": {
                                                                "type": "string"
                                                            },
                                                            "sis_id": {
                                                                "type": "string"
                                                            },
                                                            "state_id": {
                                                                "type": "string",
                                                                "nullable": true
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Entity Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Districts"
                ]
            }
        },
        "/districts/{id}/sections": {
            "get": {
                "description": "Returns the sections for a district",
                "operationId": "getSectionsForDistrict",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "starting_after",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "ending_before",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "where",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "properties": {
                                                    "data": {
                                                        "properties": {
                                                            "course_description": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "course_name": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "course_number": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "created": {
                                                                "format": "datetime",
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "district": {
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "grade": {
                                                                "enum": [
                                                                    "1",
                                                                    "2",
                                                                    "3",
                                                                    "4",
                                                                    "5",
                                                                    "6",
                                                                    "7",
                                                                    "8",
                                                                    "9",
                                                                    "10",
                                                                    "11",
                                                                    "12",
                                                                    "PreKindergarten",
                                                                    "Kindergarten",
                                                                    "PostGraduate",
                                                                    "Other"
                                                                ],
                                                                "type": "string",
                                                                "x-validation": true,
                                                                "nullable": true
                                                            },
                                                            "id": {
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "last_modified": {
                                                                "format": "datetime",
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "period": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "school": {
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "section_number": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "sis_id": {
                                                                "type": "string"
                                                            },
                                                            "students": {
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array",
                                                                "x-validation": true
                                                            },
                                                            "subject": {
                                                                "enum": [
                                                                    "english/language arts",
                                                                    "math",
                                                                    "science",
                                                                    "social studies",
                                                                    "language",
                                                                    "homeroom/advisory",
                                                                    "interventions/online learning",
                                                                    "technology and engineering",
                                                                    "PE and health",
                                                                    "arts and music",
                                                                    "other"
                                                                ],
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "teacher": {
                                                                "type": "string",
                                                                "x-validation": true,
                                                                "nullable": true
                                                            },
                                                            "teachers": {
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array",
                                                                "x-validation": true
                                                            },
                                                            "term": {
                                                                "properties": {
                                                                    "end_date": {
                                                                        "format": "datetime",
                                                                        "type": "string",
                                                                        "x-validation": true,
                                                                        "nullable": true
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    },
                                                                    "start_date": {
                                                                        "format": "datetime",
                                                                        "type": "string",
                                                                        "x-validation": true,
                                                                        "nullable": true
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "nullable": true
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Entity Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Districts"
                ]
            }
        },
        "/districts/{id}/status": {
            "get": {
                "description": "Returns the status of the district",
                "operationId": "getDistrictStatus",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "properties": {
                                                    "data": {
                                                        "properties": {
                                                            "error": {
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "instant_login": {
                                                                "type": "boolean"
                                                            },
                                                            "last_sync": {
                                                                "format": "datetime",
                                                                "type": "string",
                                                                "x-validation": true,
                                                                "nullable": true
                                                            },
                                                            "launch_date": {
                                                                "format": "datetime",
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "pause_end": {
                                                                "format": "datetime",
                                                                "type": "string",
                                                                "x-validation": true,
                                                                "nullable": true
                                                            },
                                                            "pause_start": {
                                                                "format": "datetime",
                                                                "type": "string",
                                                                "x-validation": true,
                                                                "nullable": true
                                                            },
                                                            "sis_type": {
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "state": {
                                                                "enum": [
                                                                    "running",
                                                                    "pending",
                                                                    "error",
                                                                    "paused"
                                                                ],
                                                                "type": "string",
                                                                "x-validation": true
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Entity Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Districts"
                ]
            }
        },
        "/districts/{id}/students": {
            "get": {
                "description": "Returns the students for a district",
                "operationId": "getStudentsForDistrict",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "starting_after",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "ending_before",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "where",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "properties": {
                                                    "data": {
                                                        "properties": {
                                                            "created": {
                                                                "format": "datetime",
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "credentials": {
                                                                "properties": {
                                                                    "district_username": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "district": {
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "dob": {
                                                                "format": "datetime",
                                                                "type": "string",
                                                                "x-validation": true,
                                                                "nullable": true
                                                            },
                                                            "ell_status": {
                                                                "enum": [
                                                                    "Y",
                                                                    "N",
                                                                    ""
                                                                ],
                                                                "type": "string",
                                                                "x-validation": true,
                                                                "nullable": true
                                                            },
                                                            "email": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "gender": {
                                                                "enum": [
                                                                    "M",
                                                                    "F",
                                                                    ""
                                                                ],
                                                                "type": "string",
                                                                "x-validation": true,
                                                                "nullable": true
                                                            },
                                                            "grade": {
                                                                "enum": [
                                                                    "1",
                                                                    "2",
                                                                    "3",
                                                                    "4",
                                                                    "5",
                                                                    "6",
                                                                    "7",
                                                                    "8",
                                                                    "9",
                                                                    "10",
                                                                    "11",
                                                                    "12",
                                                                    "PreKindergarten",
                                                                    "Kindergarten",
                                                                    "PostGraduate",
                                                                    "Other"
                                                                ],
                                                                "type": "string",
                                                                "x-validation": true,
                                                                "nullable": true
                                                            },
                                                            "graduation_year": {
                                                                "type": "string",
                                                                "x-validation": true,
                                                                "nullable": true
                                                            },
                                                            "hispanic_ethnicity": {
                                                                "enum": [
                                                                    "Y",
                                                                    "N",
                                                                    ""
                                                                ],
                                                                "type": "string",
                                                                "x-validation": true,
                                                                "nullable": true
                                                            },
                                                            "id": {
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "last_modified": {
                                                                "format": "datetime",
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "location": {
                                                                "properties": {
                                                                    "address": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    },
                                                                    "city": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    },
                                                                    "lat": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    },
                                                                    "lon": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    },
                                                                    "state": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    },
                                                                    "zip": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "nullable": true
                                                            },
                                                            "name": {
                                                                "properties": {
                                                                    "first": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    },
                                                                    "last": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    },
                                                                    "middle": {
                                                                        "type": "string",
                                                                        "nullable": true
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "race": {
                                                                "enum": [
                                                                    "Caucasian",
                                                                    "Asian",
                                                                    "Black or African American",
                                                                    "American Indian",
                                                                    "Hawaiian or Other Pacific Islander",
                                                                    "Two or More Races",
                                                                    "Unknown",
                                                                    ""
                                                                ],
                                                                "type": "string",
                                                                "x-validation": true,
                                                                "nullable": true
                                                            },
                                                            "school": {
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "schools": {
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array",
                                                                "x-validation": true
                                                            },
                                                            "sis_id": {
                                                                "type": "string"
                                                            },
                                                            "state_id": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "student_number": {
                                                                "type": "string",
                                                                "nullable": true
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Entity Not Found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Districts"
                ]
            }
        },
        "/districts/{id}/teachers": {
            "get": {
                "description": "Returns the teachers for a district",
                "operationId": "getTeachersForDistrict",
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "limit",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "in": "query",
                        "name": "starting_after",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "ending_before",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "in": "query",
                        "name": "where",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "items": {
                                                "properties": {
                                                    "data": {
                                                        "properties": {
                                                            "created": {
                                                                "format": "datetime",
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "credentials": {
                                                                "properties": {
                                                                    "district_username": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object",
                                                                "nullable": true
                                                            },
                                                            "district": {
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "email": {
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "id": {
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "last_modified": {
                                                                "format": "datetime",
                                                                "type": "string",
                                                                "x-validation": true
                                                            },
                                                            "name": {
                                                                "properties": {
                                                                    "first": {
[...]
